@media (max-width: 768px) {
  #navbar .logo {
    float: none;
    text-align: center;
  }

  /*Showcase*/
  #showcase {
    height: 100%;
  }

  #showcase .showcase-content {
    padding-top: 70px;
    padding-bottom: 30px;
  }

  #navbar ul,
  #navbar ul li {
    float: none;
  }

  /*Home Info*/

  #navbar ul li a {
    padding: 5px;
    border-bottom: #444 dotted 1px;
  }

  #home-info .info-img {
    display: none;
  }

  #home-info .info-content {
    float: none;
    text-align: center;
    width: 100%;
  }

  /*Features*/

  .box {
    float: none;
    text-align: center;
    width: 100%;
  }

  /*About*/

  #about-info .info-right,
  #about-info .info-left {
    float: none;
    width: 100%;
  }
  .l-heading {
    text-align: center;
  }

  #about-info .info-right {
    margin-top: 30px;
  }

  /*Contact*/

  #contact-info .box {
    border-bottom: #444 dotted 1px;
  }
}
