// Function - returns something

// Function to set the text color
@function set-text-color($color) {
  @if (lightness($color) > 50) {
    @return #333333;
  } @else {
    @return #fff;
  }
}

// Mixin - a set of styles to include
// Transform mixin
@mixin transform($property) {
  --webkit-transform: $property;
  -ms-transform: $property;
  transform: $property;
}
