// Partial files allow you to split up your SASS.
// A partial file is preceeded by an underscore which tells the SASS compiler not to
// compile the file.

$primary-color: steelblue;
$secondary-color: skyblue;
$light-color: #f4f4f4;
$dark-color: #333;
$font-stack: Arial, Helvetica, sans-serif;
