* {
  margin: 0;
  padding: 0;
}

body {
  background: #f4f4f4;
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background: #333;
  color: #fff;
  padding: 1rem;
}

header h1 {
  text-align: center;
}

.section {
  padding: 3rem;
}

.section h3 {
  font-size: 2rem;
}

.section-a {
  background: steelblue;
  color: #fff;
}

.section-b {
  background: skyblue;
  color: #333333;
}

.btn-light, .btn-dark {
  display: inline-block;
  padding: 0.7rem 2rem;
  border: none;
  cursor: pointer;
  text-decoration: none;
  margin-top: 1rem;
}

.btn-light {
  background: #f4f4f4;
  color: #333333;
}

.btn-light:hover {
  --webkit-transform: $property;
  -webkit-transform: rotate(10deg);
          transform: rotate(10deg);
  background-color: #dbdbdb;
}

.btn-dark {
  background: #333;
  color: #fff;
}

.btn-dark:hover {
  --webkit-transform: $property;
  -webkit-transform: rotate(-10deg);
          transform: rotate(-10deg);
  background-color: #4d4d4d;
}
/*# sourceMappingURL=test.css.map */