@import "variables"; // When importing partials don't include the underscore
@import "functions";

* {
  margin: 0;
  padding: 0;
}

body {
  background: $light-color;
  color: $dark-color;
  font-family: $font-stack;
}

// nesting
header {
  background: $dark-color;
  color: set-text-color($dark-color);
  padding: 1rem;

  h1 {
    text-align: center;
  }
}

.section {
  padding: 3rem;

  h3 {
    font-size: 2rem;
  }

  // & is shorthand for the name of the parent class
  // We want to style section-a, therefore &-a
  &-a {
    background: $primary-color;
    color: set-text-color($primary-color);
  }

  &-b {
    background: $secondary-color;
    color: set-text-color($secondary-color);
  }
}

// Inheritance
// If many classes share the same property then we can
// define a base class from which other classes can inherit,
// A base class is preceeded by a % sign.
%btn-shared {
  display: inline-block;
  padding: 0.7rem 2rem;
  border: none;
  cursor: pointer;
  text-decoration: none;
  margin-top: 1rem;
}

.btn {
  // Inheriting
  &-light {
    @extend %btn-shared;
    background: $light-color;
    color: set-text-color($light-color);

    &:hover {
      @include transform(rotate(10deg));
      background-color: darken($light-color, 10%);
    }
  }

  &-dark {
    @extend %btn-shared;
    background: $dark-color;
    color: set-text-color($dark-color);

    &:hover {
      @include transform(rotate(-10deg));
      background-color: lighten($dark-color, 10%);
    }
  }
}
