/* Tablets */

@media (max-width: 768px) {
  /* Remove Flex for Items */
  #what .items {
    display: block;
    padding: 1rem;
  }

  #what .items .item {
    display: flex;
    text-align: left;
  }

  #what .items .item i {
    margin-right: 1.3rem;
    align-self: center;
    margin-bottom: 0;
  }
}

/* Smartphones */

@media (max-width: 500px) {
  #navbar {
    flex-direction: column;
    align-items: center;
  }

  /* Hide who img */
  #who .who-img {
    display: none;
  }

  #who {
    display: block;
  }

  /* Navbar collapse */
  #navbar .logo {
    text-align: center;
    margin-bottom: 0.5rem;
  }

  #navbar ul {
    padding: 0.5rem;
  }

  /* Showcase Content */
  #showcase .showcase-content {
    top: 110px;
  }

  /* Clients */
  #clients .items img {
    width: 80%;
  }

  #clients .items div:last-child {
    display: none;
  }

  /* Contact Stacking*/
  #contact {
    flex-direction: column;
  }

  #contact .map {
    height: 300px;
    border-top: 4px solid #333;
  }
}

/* IPhon 5 or smaller */
@media (max-height: 568px) {
  /* Make Dark Overlay Stretch to Bottom of Screen */
  #showcase {
    position: relative;
  }
  #showcase .showcase-content {
    position: absolute;
    top: 0;
  }

  /* Reduce Font Sizes of Showcase */
  .l-heading {
    font-size: 3rem;
  }

  .lead {
    font-size: 1rem;
  }
}
