/* Align What We Do Icons to the Left */
@media (min-width: 1100px) {
  #what .items .item {
    display: flex;
    text-align: left;
  }

  /* Position Icon */
  #what .items .item i {
    margin-right: 1.3rem;
    align-self: center;
    margin-bottom: 0;
  }

  /* Make map take up 2/3 of screen */
  #contact .map {
    flex: 2;
  }
}
